<form #roleForm="ngForm">
    <div class="card border-light mb-3 shadow">
        <div class="card-body text-info">
            <div class="container">
                <div class="row">
                    <div class="col text-info bold h5">admin</div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3"
                                placeholder="id" value="{{ rolePrincipal.idRole }}" disabled>
                        </div>
                    </div>
                    <div class="col">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="name"
                                [ngClass]="{'is-valid': !roleName.invalid, 'is-invalid': roleName.invalid && (roleName.dirty || roleName.touched)}"
                                name="roleName" #roleName="ngModel" aria-describedby="basic-addon3"
                                [readonly]="rolePrincipal.idRole == 1" required minlength="5" maxlength="20"
                                pattern="[a-zA-Z]*" [(ngModel)]="rolePrincipal.name">
                            <div class="valid-feedback"
                                *ngIf="!(roleName.invalid && (roleName.dirty || roleName.touched))">
                                looks good
                            </div>
                            <div class="invalid-feedback"
                                *ngIf="roleName.invalid && (roleName.dirty || roleName.touched)">
                                <div *ngIf="roleName.errors.required">
                                    is required
                                </div>
                                <div *ngIf="roleName.errors.pattern">
                                    only alphabet characters
                                </div>
                                <div *ngIf="roleName.errors.minlength">
                                    must have minimum 5 characters
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="input-group">
                            <textarea class="form-control" aria-label="With textarea" name="roleDescription"
                                placeholder="description" [readonly]="rolePrincipal.idRole == 1"
                                [(ngModel)]="rolePrincipal.description"></textarea>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col text-center">
                        <button pButton type="button" class="ui-button-raised ui-button-rounded ui-button-success"
                            style="min-width: 100px;" icon="pi pi-check" (click)="saveRole(roleForm);"
                            [disabled]="rolePrincipal.idRole == 1"></button>
                        <button pButton type="reset" class="ui-button-raised ui-button-rounded"
                            style="min-width: 100px;" icon="pi pi-refresh" (click)="roleForm.reset();clean();"></button>
                        <button pButton type="button" class="ui-button-raised ui-button-rounded ui-button-danger"
                            style="min-width: 100px;" icon="pi pi-trash"
                            [disabled]="rolePrincipal.idRole == null || rolePrincipal.idRole == 1"
                            (click)="roleForm.reset();deleteRole();"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card border-light mb-3 shadow">
        <div class="card-body text-info">
            <div class="container">
                <div class="row">
                    <div class="col text-info bold h5">list</div>
                </div>
                <table class="table table-striped">
                    <thead>
                        <tr class="table-info">
                            <th>id</th>
                            <th>name</th>
                            <th>description</th>
                            <th>action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let role of lRoles">
                            <td>{{ role.idRole }}</td>
                            <td>{{ role.name }}</td>
                            <td>{{ role.description }}</td>
                            <td>
                                <button pButton type="button" class="ui-button-raised ui-button-rounded"
                                    style="min-width: 100px;" icon="pi pi-pencil" (click)="editRole(role)"></button>
                                <button pButton type="button"
                                    class="ui-button-raised ui-button-rounded ui-button-danger"
                                    style="min-width: 100px;" icon="pi pi-trash" [disabled]="role.idRole == 1"
                                    (click)="roleForm.reset();deleteRoleTable(role);"></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</form>