<p-progressBar mode="indeterminate" [style]="{'height': '6px'}" *ngIf="blockedDocument"></p-progressBar>
<p-blockUI [blocked]="blockedDocument"></p-blockUI>
<div class="card border-info mb-3 shadow">
    <div class="card-header">Admin</div>
    <div class="card-body text-info">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon3">Id</span>
                        </div>
                        <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3"
                            value="{{ rolePrincipal.idRole }}" disabled>
                    </div>
                </div>
                <div class="col">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon3">Name</span>
                        </div>
                        <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3"
                            [readonly]="rolePrincipal.idRole == 1"
                            ng-pattern="/^(?=.*[0-9])(?=.*[a-zA-Z])([a-zA-Z0-9]+)$/" [(ngModel)]="rolePrincipal.name">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Description</span>
                        </div>
                        <textarea class="form-control" aria-label="With textarea" [readonly]="rolePrincipal.idRole == 1"
                            [(ngModel)]="rolePrincipal.description"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer text-muted text-center">
        <div class="container">
            <div class="row">
                <div class="col">
                    <button pButton type="button" class="ui-button-raised ui-button-rounded ui-button-success"
                        label="Save" icon="pi pi-check" (click)="saveRole()"
                        [disabled]="rolePrincipal.idRole == 1"></button>
                    <button pButton type="button" class="ui-button-raised ui-button-rounded" label="Clean"
                        icon="pi pi-refresh" (click)="clean()"></button>
                    <button pButton type="button" class="ui-button-raised ui-button-rounded ui-button-danger"
                        label="Delete" icon="pi pi-trash"
                        [disabled]="rolePrincipal.idRole == null || rolePrincipal.idRole == 1"
                        (click)="deleteRole()"></button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card border-info mb-3 shadow">
    <div class="card-header">List</div>
    <div class="card-body text-info">
        <div class="container">
            <table class="table table-striped">
                <thead>
                    <tr class="table-info">
                        <th>Id</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let role of lRoles">
                        <td>{{ role.idRole }}</td>
                        <td>{{ role.name }}</td>
                        <td>{{ role.description }}</td>
                        <td>
                            <button pButton type="button" class="ui-button-raised ui-button-rounded" label="Edit"
                                icon="pi pi-pencil" (click)="editRole(role)"></button>
                            <button pButton type="button" class="ui-button-raised ui-button-rounded ui-button-danger"
                                label="Delete" icon="pi pi-trash" [disabled]="role.idRole == 1"
                                (click)="deleteRoleTable(role)"></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>