<div *ngIf="!loginService.isUserLoggedIn()">
    <footer class="footer bg-light rounded-top text-center">
        <div class="container py-2 ">
            <p class="text-info my-2">
                <a href="https://twitter.com/jduqueramos" target="_blank">
                    <img src="../../assets/images/twitter32.png" style="max-width: 32px;max-height: 32px;">
                </a>
                <a href="https://instagram.com/jduque144" target="_blank">
                    <img src="../../assets/images/instagram32.png" style="max-width: 32px;max-height: 32px;">
                </a>
                {{ author }}
                <a href="https://github.com/JohnDuq/MicroAppService" target="_blank">
                    <img src="../../assets/images/github32.png" style="max-width: 32px;max-height: 32px;">
                </a>
                <a href="https://medium.com/@jonathan.duque.ramos" target="_blank">
                    <img src="../../assets/images/medium32.png" style="max-width: 32px;max-height: 32px;">
                </a>
            </p>
        </div>
    </footer>
</div>