<div class="row">
  <div class="col-3"></div>
  <div class="col-6">
    <div class="card mb-3 shadow" style="width: 540px;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="../../assets/images/ironman.jpg" class="card-img">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title text-info ">Jonathan Duque Ramos</h5>
            <p class="card-text">And I am a system engineer...</p>
            <p class="card-text"><small class="text-muted">Snap!</small></p>
            <img src="../../assets/images/twitter64.png" style="max-width: 64px;max-height: 64px;">
            <img src="../../assets/images/instagram64.png" style="max-width: 64px;max-height: 64px;">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-3"></div>
</div>
<br />
<br />
<div class="row">
  <div class="col">
    <a class="navbar-brand text-info" href="https://angular.io" target="_blank">
      <img src="../../assets/images/angular.png" class="card-img" alt="..."
        style="max-width: 250px; max-height: 250px;">
    </a>
  </div>
  <div class="col">
    <a class="navbar-brand text-info" href="https://getbootstrap.com" target="_blank">
      <img src="../../assets/images/boostrap.jpg" class="card-img" alt="..."
        style="max-width: 250px; max-height: 250px;">
    </a>
  </div>
  <div class="col">
    <a class="navbar-brand text-info" href="https://www.primefaces.org/primeng/" target="_blank">
      <img src="../../assets/images/primeng.jpg" class="card-img" alt="..."
        style="max-width: 250px; max-height: 250px;">
    </a>
  </div>
  <div class="col">
    <a class="navbar-brand text-info" href="https://jwt.io" target="_blank">
      <img src="../../assets/images/jwt.png" class="card-img" alt="..." style="max-width: 250px; max-height: 250px;">
    </a>
  </div>
  <div class="col">
    <a class="navbar-brand text-info" href="https://spring.io" target="_blank">
      <img src="../../assets/images/spring.png" class="card-img" alt="..." style="max-width: 250px; max-height: 250px;">
    </a>
  </div>
</div>
<div class="row">
  <div class="col">
    <a class="navbar-brand text-info" href="https://www.java.com" target="_blank">
      <img src="../../assets/images/java.png" class="card-img" alt="..." style="max-width: 250px; max-height: 250px;">
    </a>
  </div>
  <div class="col">
    <a class="navbar-brand text-info" href="https://gradle.org" target="_blank">
      <img src="../../assets/images/gradle.png" class="card-img" alt="..." style="max-width: 250px; max-height: 250px;">
    </a>
  </div>
  <div class="col">
    <a class="navbar-brand text-info" href="https://www.mysql.com" target="_blank">
      <img src="../../assets/images/mysql.png" class="card-img" alt="..." style="max-width: 250px; max-height: 250px;">
    </a>
  </div>
  <div class="col">
    <a class="navbar-brand text-info" href="https://www.docker.com" target="_blank">
      <img src="../../assets/images/docker.png" class="card-img" alt="..." style="max-width: 250px; max-height: 250px;">
    </a>
  </div>
  <div class="col">
    <a class="navbar-brand text-info" href="https://git-scm.com" target="_blank">
      <img src="../../assets/images/git.png" class="card-img" alt="..." style="max-width: 250px; max-height: 250px;">
    </a>
  </div>
</div>