<div class="card mb-3 shadow">
    <img src="../../assets/images/ironmanheader.png" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title text-info h2">Hello world MicroService!</h5>
        <p class="lead">Este ejemplo muestra cómo funcionan muchas tecnologías
            juntas,
            puedes usar este
            código de forma gratuita, por favor no olvides hacer referencia al repositorio de origen
            <a class="text-info" href="https://github.com/JohnDuq/MicroAppService" target="_blank">
                <img src="../../assets/images/github16.png" style="max-width: 32px;max-height: 32px;"> Github</a>
            y/o un like al and / or give me a like in the <a href="https://medium.com/@jonathan.duque.ramos"
                target="_blank">
                <img src="../../assets/images/medium16.png" style="max-width: 32px;max-height: 32px;"> MediumStory </a>
            no estaría mal...</p>
        <hr class="my-4">
        <p class="lead">
            This example shows several technologies working together. This code is free to use,
            just remember to mention the source repository
            <a class="text-info" href="https://github.com/JohnDuq/MicroAppService" target="_blank">
                <img src="../../assets/images/github16.png" style="max-width: 32px;max-height: 32px;"> Github</a>
            and / or give me a like in the <a href="https://medium.com/@jonathan.duque.ramos" target="_blank">
                <img src="../../assets/images/medium16.png" style="max-width: 32px;max-height: 32px;"> MediumStory </a>,
            that wouldn't be bad...</p>
        <hr class="my-4">
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </div>
</div>