<div class="jumbotron shadow border-info">
    <h1 class="display-4">Hello world MicroService!</h1>
    <p class="lead">Esta es una unidad de heroe simple, este ejemplo muestra cómo funcionan muchas tecnologías juntas, puedes usar este
        código de forma gratuita, por favor no olvides hacer referencia al repositorio de origen 
        <a class="text-info" href="https://github.com/JohnDuq/MicroAppService" target="_blank">Github</a> 
        y/o un like al MediumStory no estaría mal...</p>
    <hr class="my-4">
    <p class="lead">
            This is a simple hero unit, this example shows several technologies working together. This code is free to use, just remember to mention the source 
            repository <a class="text-info" href="https://github.com/JohnDuq/MicroAppService" target="_blank">Github</a>
             and / or give me a like in the MediumStory, that wouldn't be bad...</p>
    <hr class="my-4">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>