<form #userForm="ngForm">
    <div class="card border-light mb-3 shadow">
        <div class="card-body text-info">
            <div class="container">
                <div class="row">
                    <div class="col text-info bold h5">admin</div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" id="idUser" name="idUser" placeholder="Id"
                                [(ngModel)]="userSelected.user.idUser" disabled aria-describedby="basic-addon3">
                        </div>
                    </div>
                    <div class="col">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" id="nameUser" name="nameUser" #userName="ngModel"
                                name="userName" placeholder="username"
                                [ngClass]="{'is-valid': !userName.invalid, 'is-invalid': userName.invalid && (userName.dirty || userName.touched)}"
                                pattern="[a-zA-Z]*" required minlength="4" maxlength="30"
                                [readonly]="userSelected.user.idUser == 1" [(ngModel)]="userSelected.user.username"
                                aria-describedby="basic-addon3">
                            <div class="valid-feedback"
                                *ngIf="!(userName.invalid && (userName.dirty || userName.touched))">
                                Looks good
                            </div>
                            <div class="invalid-feedback"
                                *ngIf="userName.invalid && (userName.dirty || userName.touched)">
                                <div *ngIf="userName.errors.required">
                                    is required
                                </div>
                                <div *ngIf="userName.errors.pattern">
                                    only alphabet characters
                                </div>
                                <div *ngIf="userName.errors.minlength">
                                    must have minimum 4 characters
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="input-group mb-3">
                            <input type="password" class="form-control" id="passwordUser" name="passwordUser"
                                placeholder="password" #passwordUser="ngModel" required minlength="4"
                                (click)="$event.target.select()"
                                [ngClass]="{'is-valid': !passwordUser.invalid, 'is-invalid': passwordUser.invalid && (passwordUser.dirty || passwordUser.touched)}"
                                [(ngModel)]="userSelected.user.password" aria-describedby="basic-addon3">
                            <div class="valid-feedback"
                                *ngIf="!(passwordUser.invalid && (passwordUser.dirty || passwordUser.touched))">
                                looks good
                            </div>
                            <div class="invalid-feedback"
                                *ngIf="passwordUser.invalid && (passwordUser.dirty || passwordUser.touched)">
                                <div *ngIf="passwordUser.errors.required">
                                    is required
                                </div>
                                <div *ngIf="passwordUser.errors.minlength">
                                    must have minimum 4 characters
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <p-inputSwitch id="statusUser" name="statusUser" [(ngModel)]="userSelected.user.statusBool"
                            [readonly]="userSelected.user.idUser == 1">
                        </p-inputSwitch>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <p-pickList id="roleUserList" name="roleUserList" [source]="userSelected.listRolesAvaible"
                            [target]="userSelected.listRolesUser" [responsive]="true" filterBy="idRole,name"
                            [showSourceControls]="false" [showSourceFilter]="false" [showTargetFilter]="false"
                            [showTargetControls]="false" sourceHeader="roles available" targetHeader="user roles"
                            dragdrop="true" [disabled]="userSelected.user.idUser == 1"
                            sourceFilterPlaceholder="Search by Role id or Name"
                            targetFilterPlaceholder="Search by Role id or Name">
                            <ng-template let-roleUser pTemplate="item">
                                <div class="ui-helper-clearfix">
                                    {{roleUser.idRole}} {{roleUser.name}}
                                </div>
                            </ng-template>
                        </p-pickList>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col text-center">
                        <button pButton type="button" class="ui-button-raised ui-button-rounded ui-button-success"
                            (click)="saveUser(userForm);" style="min-width: 100px;" icon="pi pi-check"></button>
                        <button pButton type="reset" class="ui-button-raised ui-button-rounded"
                            (click)="userForm.reset();clean();" style="min-width: 100px;" icon="pi pi-refresh"></button>
                        <button pButton type="button" class="ui-button-raised ui-button-rounded ui-button-danger"
                            [disabled]="userSelected.user.idUser == null || userSelected.user.idUser == 1"
                            (click)="deleteUser();userForm.reset();" style="min-width: 100px;" icon="pi pi-trash"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card border-light mb-3 shadow">
        <div class="card-body text-info">
            <div class="container">
                <div class="row">
                    <div class="col text-info bold h5">list</div>
                </div>
                <table class="table table-striped">
                    <thead>
                        <tr class="table-info">
                            <th>id</th>
                            <th>username</th>
                            <th>status</th>
                            <th>action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let user of listUsers">
                            <td>{{ user.idUser }}</td>
                            <td>{{ user.username }}</td>
                            <td>
                                <p-inputSwitch id="statusUserList{{ user.idUser }}"
                                    name="statusUserList{{ user.idUser }}" readonly="true"
                                    [(ngModel)]="user.statusBool"></p-inputSwitch>
                            </td>
                            <td>
                                <button pButton type="button" class="ui-button-raised ui-button-rounded" style="min-width: 100px;"
                                    (click)="editUser(user);" icon="pi pi-pencil"></button>
                                <button pButton type="button"
                                    class="ui-button-raised ui-button-rounded ui-button-danger"
                                    (click)="userForm.reset();deleteUserList(user);" [disabled]="user.idUser == 1"
                                    style="min-width: 100px;" icon="pi pi-trash"></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</form>